body{
  background-color: white;
  display: block;
  width: auto;


}

header{
  display: flex;
  font-family: verdana;
  position: fixed;
  align-items: center;
  font-weight: bold;
  height: 90px;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid black;
  flex-grow: 1;
  margin: 0 auto;

}

.logo img{
  width: 60px;
  height: 70px;
  margin-right: 12px;
  margin-left:20px;

}

.logo span{
font-size: 14px;
  color: MediumAquamarine;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.nav{
  display: inline-block;
  padding-left: 900px;
  align-items: center;
  padding-right: 40px;
}

.navi{
  padding-right: 10px;
  color: black;
  font-size: 14px;
}


.container{
  display: flex;
  flex-flow: column wrap;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 10px;
  font-family: georgia;
  height: 1100px;
  justify-content: space-around;
}


.large{
  display:flex;
  flex-flow: column wrap;
  flex: 1 2 630px;
  width: 630px;
  height:1100px;

}

.main{
  width: 630;
  margin-bottom: 10px;
}

.phish{
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
font-size: 20px;
font-family: georgia;
height: 300px;
width: 630px;
margin-top: 115px;
color: white;
text-align: center;
 }


.narative{
  width: 630px;
  display: block;
  flex-direction: column;
  margin-right: 30px;

}


 .next{
 display: flex;
justify-content: space-between;


}

.Vacation{
  display: flex;
  flex-direction: : column;
  width: 300px;
}

 .fall{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
   height: 300px;
   width: 300px;
   color: white;
   text-align: center;

}
 .story{
   display: block;
   width: 300px;
   font-family: georgia;

 }


 .burger{
   display: flex;
   flex-flow: column wrap;


 }

 .camera{
   background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
   height: 300px;
   width: 300px;
   color: white;
   text-align: center;
 }


 .middle{
   display: flex;
   flex-flow: column wrap;
   margin-top: 20px;
   margin-left: 20px;
   width: 300px;
   height: 1100px;

 }

.fbi{
  display:flex;
  flex-flow: column wrap;
  width: 300px;
  font-family: georgia;
  margin-top: 115px;
  margin-bottom: 20px;

}
.fbis{
  width:300px;
  display: block;
}

.thing{
  display: flex;
  flex-flow: column wrap;
  width: 300px;

}

.cat{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  color: white;
  font-size: 20px;
  font-family: georgia;
  height: 300px;
  width: 300px;
  text-align: center;


}

.cats{
  width: 300px;
  font-family: georgia;
  display: block;
  width: 300px;
}



.small{
  display: inline-flex;
  width: 260px;
  height: 1100px;

}

.bites{
  width: 260px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  margin-top: 115px;
  margin-left: 20px;
}

.bite{
  align-items: center;

}


.news{
  display: block;
  padding-bottom: 30px;
}



.list{
display: block;
padding:11px 20px;
border-bottom: 1px solid black;
background-color: whiteSmoke;
font-family: verdana;
font-size: 14px;
color: dimgray;
text-align: center;
width: 260px;
}

.footer{
  display: flex;
  background-color: MediumAquamarine;
  justify-content: center;
  align-items: center;
  height: 240px;
  margin: auto;
  flex-direction: column;
}

.foote{
  display: flex;
  align-items: center;
}

.foots{
  display: flex;
  align-items: center;

}

.title{
  color: white;
  font-family: verdana;
  border-right: : 2px white black;
  font-size: 20px;
  display: inline-block;

}

.navi{
  color: black;
  display: inline-block;
  font-size: 14px;
  padding-left: 10px;
}

.mark{
  display: inline-block;
  text-align: center;
}
