body{
  background-color: white;


}

header{
  display: inline-flex;
  font-family: verdana;
  position: fixed;
  align-items: center;
  font-weight: bold;
  height: 100px;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid black;

}

.logo{
  width: auto;
  height: auto;
  color: aquamarine;
  font-size: 14px;
  padding-left: 20px;


}

.nav{
  display: block;
  color: black;
  font-size: 14px;
  align-content: flex-end;


}
